header{
    margin-left: 4vw;
    width: 50%;
    float: left;
    h1{
        font-family: $oswald;
        font-size: 11vw;
        line-height: 92%;
        text-transform: uppercase;
        font-weight: 500;
    }
    h4{
        padding-top: 60px;
        margin-left: 8px;
        width: 550px;
    } 
}

@media only screen and (max-width: 1200px){
    header{
        h1{
            font-size: 14vw;
        }
        h4{
            font-size: 1.25em;
        }
    }
}
  
@media only screen and (max-width: 700px){
    header{
        margin: 0;
        text-align: center;
        left: 0;
        width: 100%;
        h1{
            font-size: 13vw;
        }
        h4{
            padding-top: 60px;
            font-size: 1.25em;
            margin-right: auto;
            margin-left: auto;
            width: 75%;
        }
    }
}