$dbdRed: #C73032;
$barbarian: #E7623E;
$bardRouge: #AB6DAC;
$clericSilver: #91A1B2;
$druidMoss: #7A853B;
$fighterRust: #7F513E;
$monkSky: #51A5C5;
$paladinGold: #B59E54;
$rangerEm: #507F62;
$rougeAsh: #555752;
$sorcererBlood: #992E2E;
$warlockIris: #7B469B;
$wizardCobalt: #2A50A1;
$backgroundColor: #121212;
$fontColor: #F2F2F2;
$inactiveLink: #818182;